<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Post start at:</strong>
    <%= task.post_start_at %>
  </p>

  <p>
    <strong>Post end at:</strong>
    <%= task.post_end_at %>
  </p>

  <p>
    <strong>Post is all day:</strong>
    <%= task.post_is_all_day %>
  </p>

  <p>
    <strong>Post memo:</strong>
    <%= task.post_memo %>
  </p>

</div>
