    <h3>スケジュール一覧</h3>
 
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>終日</th>
          <th>スケジュール更新日時</th>
        </tr>
      </thead>
 
      <tbody>
        <% @tasks.each do |tasks| %>
          <tr>
            <td><%= task.id %></td>
            <td><%= task.title %></td>
            <td><%= task.post_start_at %></td>
            <td><%= task.post_end_at %></td>
            <td><%= task.post_is_all_day %></td>
            <td><%= task.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
 
    <p><%= link_to "スケジュール新規登録", :new_task %></p>
